/* CSS-Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

/* fonts */

@font-face {
    font-family: "Pacifico";
    src: url("./fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

/* svg's */

.x-marker, .input-marker.x::after {
    background-image: url(./img/X-marker.svg);
    background-repeat: no-repeat;
}

.o-marker, .input-marker.o::after {
    background-image: url(./img/O-marker.svg);
    background-repeat: no-repeat;
}

/* global */

:root {
    --main-blue: rgb(78, 152, 201);
    --secondary-blue: rgb(202, 223, 236);
    --main-orange: rgb(224, 146, 0);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(./img/main-background.jpg);
    background-size: cover;
    height: 100vh;
}

button {
    border-radius: 0.7rem;
    border: none;
    padding: 0.2rem 0rem;
    color: white;
    outline: 2px solid white;
    background-color: var(--main-blue);
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}

button:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
    outline: 2px solid black;
    box-shadow: 2px 2px 7px 5px grey;
    transition: 200ms;
}

/* header */

.header {
    text-align: center;
    background-color: var(--main-blue);
    font-family: Pacifico;
    font-size: calc(1.5rem + 1.8vw);
    color: white;
    max-height: 20vh;
    box-shadow: 0px 5px 25px 0px black;
}

/* game-interface */

.game-interface {
    font-size: 1.8rem;
    font-family: Roboto;
    justify-items: center;
}

/* form-ui */

.form-ui {
    display: flex;
    max-width: 70vw;
    flex-direction: column;
    background-color: var(--secondary-blue);
    border: 2px solid black;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 30px 0px black;
    padding: 2.8rem;
    margin: 20vh 0;
}

.name-input {
    margin: 0.6rem 0;
    font-size: calc(1rem + 0.5vw);
    border-radius: 0.7rem;
    padding: 0rem 0.5rem;
    border: 2px solid black;
}

.input-marker {
    position: relative;
}

.input-marker::after {
    content: "";
    background-size: 100%;
    height: calc(1.6rem + 0.5vw);
    width: calc(1.6rem + 0.5vw);
    position: absolute;
    bottom: calc(0.7rem + 0.1vw);
    right: 0.5rem;
}

.start-game {
    font-size: calc(1rem + 0.5vw);
    width: 75%;
    margin-top: 3rem;
    align-self: center;
}

/* board-ui */

.board-ui {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10vh repeat(2, max-content);
    grid-template-areas:
    "game-info game-info"
    "board board"
    "restart-game new-game"
    ;
    row-gap: 3vh;
    padding: 4vh 5vw;
}

.game-info {
    grid-area: game-info;
    display: flex;
    align-items: center;
    font-size: calc(1rem + 1vw);
    box-shadow: 0px 0px 25px 0px black;
    border: 2px solid black;
    background-color: white;
    padding: 0rem 2rem;
    border-radius: 1rem;
}

.panel-marker {
    background-size: 100%;
    margin-left: 0.8rem;
    height: calc(1.5rem + 1.5vw);
    width: calc(1.5rem + 1.5vw);
}

.win {
    box-shadow: 0px 0px 25px 10px var(--main-orange);
    background-color: var(--main-orange);
    color: white;
    border-color: white;
    transition: 400ms;
}

.tie {
    box-shadow: 0px 0px 25px 10px var(--main-blue);
    background-color: var(--main-blue);
    color: white;
    border-color: white;
    transition: 400ms;
}

.board {
    grid-area: board;
    display: grid;
    aspect-ratio: 1/1;
    grid-template-rows: repeat(3, minmax(80px, 16vh));
    grid-template-columns: repeat(3, minmax(80px, 16vh));
    box-shadow: 0px 0px 30px 0px black;
    gap: 3px;
    background-color: black;
}

.board div {
    background-color: white;
    background-size: 100%;
}

.restart-game {
    grid-area: restart-game;
}

.new-game {
    grid-area: new-game;
}

.restart-game, .new-game {
    justify-self: stretch;
    margin: 0px 20px;
    font-size: calc(0.5rem + 1vw);
}